.section{
    width: 80%;
    height: auto;
    background-color: teal;
    border: teal;
    border-style: dashed;
    padding: 5px;
    margin-top: 20px;
    color: white;
}

#textdesign{
    text-decoration-color: royalblue;

}

.italy image{
    background-image: url(../images/italy.jpg);
}

.japan image{
    background-image: url(../images/Japan-Travel-Guide.jpg);
}

.germany image{
    background-image: url(../images/German-Culture-and-Traditions-696x464.jpg);
}

.usa image{
    background-image: url(../images/freedom-tower.jpg);
}


.fixed {
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: red;
  }
  .wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
  .relative {
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
  }
  .absolute {
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
  }

  .hover-state:hover {
    color: white;
    background-color: blue;
    border: 2px solid aqua;
}

#link{
    color: yellowgreen;
}