.circleImage {
    border-radius: 50%;
    border-width: 10px;
    border-color: maroon;
    border-style: solid;
}
body{
    background-color: lightgray;
    background-image: url(../images/56d581b578bb0_thumb900.jpg);
    background-size: cover;
}

#firstbox {
    width: 200px;
    height: 200px;
    background: #d1ecff;
    border: dashed;
    padding: 5px;
}

#secondbox {
    width: 300px;
    height: 200px;
    background: orange;
    border: ridge;
    padding: 10px;
    margin: 20px;
}