.circleImage {
    border-radius: 50%;
    border-width: 10px;
    border-color: maroon;
    border-style: solid;
}
body{
    background-color: lightgray;
    background-image: url(../images/56d581b578bb0_thumb900.jpg);
    background-size: cover;
}

#firstbox {
    width: 200px;
    height: 200px;
    background: #970b0b;
    border: dashed;
    padding: 5px;
    float: left;
}

#secondbox {
    width: 200px;
    height: 200px;
    background: rgb(209, 56, 10);
    border: ridge;
    padding: 5px;
    clear: both;
}




a.bclink{
    color: green;
    text-decoration: green;
    text-underline-position: below;
    font-size: 30px;
    font-weight: bold;
    margin: 50px;

}

a.bclink:visited{
    color:red;
}

a.bclink:hover{
    background-color: green;
    color: white;
}

a.bclink:active{
    background-color: red;
    color: white;

}