.circleImage {
    border-radius: 50%;
    border-width: 10px;
    border-color: maroon;
    border-style: solid;
}
body{
    background-color: lightgray;
    background-image: url(../images/56d581b578bb0_thumb900.jpg);
}